.organizational-tree {
    font-family: Arial, sans-serif;
    font-weight: 800;
  }
  
  .employee-node {
    position: relative;
    display: inline-block;
    margin-left: 20px;
    margin-top: 20px;
  }
  
  .node-box {
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s; /* Add transition for smooth effect */
    position: relative; /* Ensure node box is positioned relative */
    z-index: 2; /* Ensure node box dominates over other elements */
  }
  
  /* Hover effect */
  .node-box:hover {
    background-color: orange;
  }
  
  .subordinates-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .tree-line {
    position: absolute;
    top: 25px; /* Adjust this value to position the tree lines properly */
    left: -12px; /* Adjust this value to align the tree lines with the nodes */
    border-left: 2px solid black;
    height: calc(100% - 20px); /* Adjust this value to ensure proper alignment */
  }
  
  .tree-line::before {
    content: '';
    position: absolute;
    top: 0px; /* Adjust this value to position the line connectors properly */
    left: -1px; /* Adjust this value to align the line connectors with the tree lines */
    border-top: 2px solid black;
    width: 20px; /* Adjust this value to control the length of the line connectors */
    z-index: 1; /* Ensure tree line connector is behind the node box */
  }
  
  .tree-branch {
    margin-left: 80px;
  }
  
  .ceo-node .tree-line {
    display: none;
  }
  